@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  font-family: "IBM Plex Mono", monospace;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 80vw;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.add-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: #000;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: 80vw;
  max-width: 400px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  transition: background-color 0.3s ease;
}

.task {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  justify-content: space-between;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.completed label {
  color: #888;
}

.left-section input[type="checkbox"] {
  margin-right: 5px;
}

.left-section label {
  overflow: hidden;
  word-break: break-all;
  max-width: 100%;
  text-align: left;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.task-enter {
  opacity: 0;
  transform: translateY(20px);
}

.task-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

/* -----Header------ */

.categories {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around; /* Равномерное распределение по ширине */
}

.categories-container {
  display: flex;
  align-items: center;
}

.category-button {
  border: none;
  background: none;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

.category-button:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
